@id("")
permit(principal, action in [agamaTestPolicyTwo::Action::"Close", agamaTestPolicyTwo::Action::"Read", agamaTestPolicyTwo::Action::"Reply"], resource is agamaTestPolicyTwo::Ticket) when { (resource is agamaTestPolicyTwo::Ticket) && ((principal has "supportedOrganizations") && ((principal["supportedOrganizations"]).contains(resource["organization"]))) };