@id("Allow anyone to create tickets belong to their organization")
permit(principal, action == agamaTestPolicyTwo::Action::"Write", resource in agamaTestPolicyTwo::Ticket::"unknown") when { (resource has "organization") && ((principal["organization"]) == (resource["organization"])) };