@id("Allow partners to manage any ticket of their supported organizations")
permit(principal is agamaTestPolicyTwo::User in agamaTestPolicyTwo::Role::"Partner", action in [agamaTestPolicyTwo::Action::"Close", agamaTestPolicyTwo::Action::"Read", agamaTestPolicyTwo::Action::"Write", agamaTestPolicyTwo::Action::"Reply"], resource is agamaTestPolicyTwo::Ticket) when { (principal has "supportedOrganizations") && ((resource["organization"]) in (principal["supportedOrganizations"])) };