@id("Allow Customer to create new tickets")
permit(principal is agamaTestPolicyTwo::User in agamaTestPolicyTwo::Role::"Customer", action in agamaTestPolicyTwo::Action::"Write", resource in agamaTestPolicyTwo::Ticket::"unknown") when { resource is agamaTestPolicyTwo::Ticket };