@id("Allows staff to create/manage any of resources: Ticket, Product, Meeting")
permit(principal in agamaTestPolicyTwo::Role::"Staff", action in [agamaTestPolicyTwo::Action::"Write", agamaTestPolicyTwo::Action::"Close", agamaTestPolicyTwo::Action::"Reply"], resource);